<!-- <ion-buttons >
  <ion-menu-button autoHide="false"></ion-menu-button>

</ion-buttons> -->
<ion-toolbar>
  <ion-icon (click)="voltar()" name="arrow-back-outline"></ion-icon>
</ion-toolbar>

<ion-content padding>
  <div [ngClass]="class">
  <div id="left">
    
    <div (click)="getPicture()" class="circle">
      <img [src]="usuario?.foto" width="70" height="70"/>
    </div>
  </div>
  <div id="right">
      {{usuario?.nome}}<br/>
      {{usuario?.email}}
  </div>
  </div>
  
  <ion-card>
    <ion-card-header center>
  Tema
    </ion-card-header>
    <ion-card-content>
  
      <div class="div1"> 
        <div class="theme1" (click)="setTheme('purple')">
        </div>
          <ion-input style="padding-left: 14px;" type="text" value="purple" readonly ></ion-input>
      </div>
      
      <div class="div2"> 
          <div class="theme2" (click)="setTheme('origin')">
          </div>
          <ion-input style="padding-left: 11px;" type="text" value="Original" readonly ></ion-input>
        </div>
      
        <div class="div3"> 
            <div class="theme3" (click)="setTheme('blue')">
            </div>
            <ion-input style="padding-left: 20px;" type="text" value="Blue" readonly ></ion-input>
          </div>
      
          <div class="div4"> 
              <div class="theme4" (click)="setTheme('black')">
              </div>
              <ion-input style="padding-left: 19px;" type="text" value="Dark" readonly ></ion-input>
            </div>
            
  
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
   Membro desde: {{usuario?.dataCriacao}}    
    </ion-card-content>
  </ion-card>
  
  <ion-card (click)="delete()">
      <ion-card-content style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px;">
        <ion-item lines="none">
  <label>Excluir conta</label>        <ion-note slot="end">
      <ion-icon  id="trash" name="trash"></ion-icon> </ion-note>
          <br/>
        </ion-item>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
        <ion-card-content style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px;" >
          <ion-item lines="none" (click)="logout()">
    <label>Sair da conta</label>        <ion-note slot="end">
        <ion-icon id="off" name="power"></ion-icon> </ion-note>
            <br/>
          </ion-item>
        </ion-card-content>
      </ion-card>
  
  </ion-content>
  