<ion-content>
<ion-slides>
  <ion-slide>
    <div class="slide">
      <img src="../../assets/imgs/slide-1.png"/>
      <h2>Bem Vindo</h2>
      <p>O <b>Cm app</b> é um aplicativo destinado a gestão de clientes e projetos, deslize para inicar o tutorial.</p>
    </div>
  </ion-slide>

  <ion-slide>
    <img src="../../assets/imgs/slide-2.png"/>
    <h2>O que posso fazer ?</h2>
    <p><b>O Cm app</b> permite que você cadastre seus clientes e os vincule aos respectivos projetos. 
      Você consegue visualizar todos projetos já feitos para o cliente, assim como o cliente dono do projeto.
    </p>
  </ion-slide>

  <ion-slide>
    <img src="../../assets/imgs/slide-3.png"/>
    <h2>O que mais ?</h2>
    <p><b>Com o Cm app</b> é possível mandar e-mails em massa para seus clientes cadastrados, assim como gerar 
    o contrato quando quiser, baseado nos dados do cliente cadastrado.</p>
  </ion-slide>

  <ion-slide>
    <img src="../../assets/imgs/slide-4.png"/>
    <h2>Vamos personalizar seu contrato ?</h2>
    <p>Você também pode fazer isso mais tarde indo em configurações.</p>
    <ion-button fill="clear" (click)="conclude()">Concluir <ion-icon slot="end" name="thumbs-up"></ion-icon></ion-button>
    <ion-button fill="clear">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-slide>

</ion-slides>
</ion-content>
