#sec-logo{
    background-image: linear-gradient(to bottom, white, #527F76); 
    border-radius: 30px;
    margin-bottom: 50px;
}
.logo{
    width: 140px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


.origin{
    background-image: linear-gradient(to bottom, white, #527F76); 
    height: 250px;
    text-align: center;
}

.purple{
  background-image: linear-gradient(to bottom, white, purple); 
  height: 250px;
  text-align: center;
}

.blue{
  background-image: linear-gradient(to bottom, white, Navy); 
  height: 250px;
  text-align: center;
}

.black{
  background-image: linear-gradient(to bottom, white, black); 
  height: 250px;
  text-align: center;
}

