<ion-card>
  <ion-card-header>
    Dados do cliente    
  </ion-card-header>
  <ion-card-content>
     <form [formGroup]="clientForm">

    
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Telefone" formControlName="tel">
    </mat-form-field>

      <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>

      <mat-form-field>
      <input matInput placeholder="Cep" formControlName="cep">
    </mat-form-field>
  
      <mat-form-field>
      <input matInput placeholder="Rua" formControlName="endereco">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Bairro" formControlName="bairro">
    </mat-form-field>
          <mat-form-field>
      <input matInput placeholder="Cidade" formControlName="cidade">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Estado" formControlName="estado">
    </mat-form-field>

<h2>Projetos</h2>

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of projectList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Projeto: {{item.tituloProjeto}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p> Descricao: {{item.descricaoProjeto}}</p> <br/>
    <p> Preco: {{item.preco}}</p> <br/>
    <p> Data: {{item.data}}</p> <br/>
  </mat-expansion-panel>
</mat-accordion>
    

    <ion-icon *ngIf="!editable" style="float: left" (click)="edit()" name="settings-outline"></ion-icon>
    <ion-icon *ngIf="editable" style="float: left" (click)="cancel()" name="close-circle-outline"></ion-icon>
    <ion-icon *ngIf="!editable" style="float: right" (click)="delete()" name="trash"></ion-icon>

    
<!-- </ion-row> -->
  </form>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="editable" style="height: 50px; padding-top: 07px;" (click)="salvar()">
  <ion-card-content style="padding-top: 5px; padding-bottom: 0px; ">
    
<label>Editar cliente</label><ion-note slot="end">
  <ion-icon style="font-size: 20px; float: right;" name="build-outline"></ion-icon> </ion-note>
      <br/>
  </ion-card-content>
</ion-card>