mat-form-field{
    width: 100%;
}

ion-card{
    background-color: white;
}

ion-content{
    --ion-background-color: white !important;
  }

  label{
    color: black;
    font-size: 16px;
  }

  ion-icon{
      font-size: 40px;
      color: #4f413b;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  h2{
      text-align: center;
      margin-bottom: 05px;
  }