<ion-card (click)="teste()">
  <ion-card-content>
  Nome: {{cliente.nome}} <br/>
  E-mail: {{cliente.email}} <br/>
  Telefone: {{cliente.tel}} <br/>

        

      <!-- </mat-panel-title>
      <mat-panel-description>
       {{cliente.email}}
      </mat-panel-description>
    </mat-expansion-panel-header> -->

    <!-- <form [formGroup]="clientForm">

      <ion-row>

      <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>
  </ion-col>

  <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Telefone" formControlName="telefone">
    </mat-form-field>
    </ion-col>

    <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>
    </ion-col>

    <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Cep" formControlName="cep">
    </mat-form-field>
    </ion-col>
  
    <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Rua" formControlName="rua">
    </mat-form-field>
</ion-col>

<ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Bairro" formControlName="bairro">
    </mat-form-field>
  </ion-col>
      <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Cidade" formControlName="cidade">
    </mat-form-field>
  </ion-col>

  <ion-col col-3>
    <mat-form-field>
      <input matInput placeholder="Estado" formControlName="estado">
    </mat-form-field>
  </ion-col>

</ion-row>
  </form> -->
</ion-card-content>
</ion-card>