<ion-header>
</ion-header>

<ion-content  padding>
   <ion-row>
   <img class="logo" src="./../../assets/imgs/logo_app.png">  
   </ion-row>
 <section class="login">


<form [formGroup]="loginForm">

    
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="email" formControlName="email">
  </mat-form-field>
<ion-row>
  <ion-col size="10">
  <mat-form-field>
    <input [type]="!isVisiblePassword ? 'password' : 'text'" matInput placeholder="senha" formControlName="senha">
  </mat-form-field>
</ion-col>

<ion-col >
  <ion-icon *ngIf="isVisiblePassword" (click)="visiblePassword()" name="eye-outline"></ion-icon>
  <ion-icon *ngIf="!isVisiblePassword" (click)="visiblePassword()" name="eye-off-outline"></ion-icon>
</ion-col>

</ion-row>
  </form>


  <ion-button (click)="login()" [disabled]="!loginForm.valid" expand="block" fill="outline">Entrar</ion-button>
  <ion-button (click)="login()" expand="block" fill="outline">Cadastrar</ion-button>





</section>

</ion-content>
