.my-custom-menu {
    --width: 500px;
  }
  .menu-color{
    //background-image: url('../assets/imgs/menu-img.jpg');
      background-image: linear-gradient(to bottom, white, #527F76); 
      width: 100%;
      padding: 0px;
      height: 50%;
      border-bottom: 1px solide #fff;
      border-radius: 30px;
      margin-bottom: 20px;
  }
  .circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-left: 48px;
    padding-left: 0px !important;
  }

  ion-button{
    border: none !important;
  }
  button.button-native{
    border: none !important;
  }

  .origin{
    margin-bottom: 30px;
    text-align: center;
   // height: 35%;
   height: 45%;
   //background-color: red;
    background-image: linear-gradient(to bottom, white, #527F76); 

}


.purple{
  margin-bottom: 30px;
  text-align: center;
  height: 45%;
  //background-color: red;
  background-image: linear-gradient(to bottom, white, purple); 

}

.blue{
  margin-bottom: 30px;
  text-align: center;
  // height: 35%;
  height: 45%;
  //background-color: red;
  background-image: linear-gradient(to bottom, white, blue); 

}

.black{
  margin-bottom: 30px;
  text-align: center;
  // height: 35%;
  height: 45%;
  //background-color: red;
  background-image: linear-gradient(to bottom, white, black); 

}


section#sec-02{
    padding-top: 20px;
    height: 65%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: white;

    
}
#picture-position{
  padding-top: 10px;
}
ion-content{
  --ion-background-color: white;
}

ion-item ion-ripple-effect.md .hydrated{
  background-color: white !important;
}

button.button-native{
  border-bottom: 1px solid;
}

ion-icon{
  
}

.item-native::after{
  background-color: white;

}

ion-ripple-effect{
  background-color: white;
}