<ion-app>
    <ion-menu side="start" contentId="main-content" type="overlay">
      <ion-content>
                  <section [ngClass]="class">
                    
            <div id="picture-position">
              <div class="circle">
                  <img [src]="usuarioLogado?.foto" width="200" height="200"/>
              </div>
          </div> 
  
          <div style="font-size: 20px; padding-top: 20px; text-align: center; color: white;">
                 {{usuarioLogado?.nome}}<br/>
                 {{usuarioLogado?.email}}
              </div>

        </section>

        <section style="background-color: white !important;" id="sec-02">
          <ion-menu-toggle style="background-color: white !important;" auto-hide="false" *ngFor="let p of appPages; let i = index"> 

         <ion-item style="background-color: white !important;" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" 
            lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="end" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          </section>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-router-outlet></ion-router-outlet>

</ion-app>
