.my-custom-menu {
    --width: 500px;
  }
  .menu-color{
    //background-image: url('../assets/imgs/menu-img.jpg');
      background-image: linear-gradient(to bottom, white, #527F76); 
      width: 100%;
      padding: 0px;
      height: 50%;
      border-bottom: 1px solide #fff;
      border-radius: 30px;
      margin-bottom: 20px;
  }
  .circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-left: 48px;
    padding-left: 0px !important;
  }

  ion-button{
    border: none !important;
  }
  button.button-native{
    border: none !important;
  }