
      ion-card{
        background-color: white;
    }
    mat-form-field, mat-select{
        width: 95%; 
        padding-left: 10px;
    }

    // div{
    //     text-align: center;
    // }

    ion-button{
        width: 98%;
    }
    
    
  ion-icon{
    font-size: 40px;
    color: #4f413b;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-card-header{
    text-align: center;
}