<ion-buttons >
  <ion-menu-button autoHide="false"></ion-menu-button>
</ion-buttons>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addClient()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content [fullscreen]="true">

<app-header></app-header>

  

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clientes</ion-title>
    </ion-toolbar>
  </ion-header>

<div *ngFor="let cliente of clientes">
<app-cliente [cliente]="cliente" ></app-cliente>
</div>

<!-- <form [formGroup]="formGroup">
<app-cm-select formControlName="option" [lista]="lista" view="viewValue" valueAtr="id"></app-cm-select>
<button ion-button (click)="teste()">Testar</button>
</form> -->
</ion-content> 

