.logo{
    width: 140px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec-logo{
    background-image: linear-gradient(to bottom, white, #527F76); 
    border-radius: 30px;
    margin-bottom: 50px;
}
ion-card{
    background-image: linear-gradient(to bottom, white, #527F76); 

}

.purple{
    color: purple;
}