ion-icon{
    font-size: 30px;
}

section#sec-01{
    margin-bottom: 30px;
    text-align: center;
    height: 30%;
    //background-color: red;
    background-image: linear-gradient(to bottom, white, #527F76); 

}



.origin{
   margin-bottom: 30px;
   text-align: center;
   // height: 35%;
   height: 30%;
   //background-color: red;
   --ion-background-color: #527F76;
   background-image: linear-gradient(to bottom, white, #527F76); 

}


.purple{
  margin-bottom: 30px;
  text-align: center;
  height: 30%;
  //background-color: red;
  --ion-background-color: purple;
  background-image: linear-gradient(to bottom, white, purple); 

}

.blue{
  margin-bottom: 30px;
  text-align: center;
  // height: 35%;
  height: 30%;
  //background-color: red;
  --ion-background-color: blue;
  background-image: linear-gradient(to bottom, white, blue); 

}

.black{
  margin-bottom: 30px;
  text-align: center;
  // height: 35%;
  height: 30%;
  //background-color: red;
  --ion-background-color: black;
  background-image: linear-gradient(to bottom, white, black); 

}



section#sec-02{
    padding-top: 20px;
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: white;

    
}

.content{
    --ion-background-color: #527F76;
}
ion-card{
    margin-top: 30px;
    background-color: white;
}

.logo{
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}