ion-icon{
    font-size: 30px;
}

section#sec-01{
    margin-bottom: 30px;
    text-align: center;
    height: 30%;
    //background-color: red;
    background-image: linear-gradient(to bottom, white, #527F76); 

}

section#sec-02{
    padding-top: 20px;
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: white;

    
}

ion-content{
    --ion-background-color: #527F76;
}
ion-card{
    margin-top: 30px;
    background-color: white;
}

.logo{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}